
<div class="container-fluid bg-light bg-icon py-6" th:fragment="about">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="img/about.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Sobre nosotros</h1>
                    <p class="mb-4">NutriFit se dedica a transformar vidas a través de soluciones personalizadas de nutrición y fitness. Entendemos que cada persona es única, y creemos que tu plan de alimentación y entrenamiento debe ser tan singular como tú. Por eso, combinamos la ciencia de la nutrición con la innovación en el entrenamiento físico para crear programas personalizados que se adaptan a tus objetivos, necesidades y estilo de vida.
                        Nuestro equipo está compuesto por expertos en nutrición, entrenadores certificados y especialistas en bienestar, todos comprometidos en ayudarte a alcanzar tu mejor versión. Utilizamos la última tecnología y análisis de datos para diseñar planes que no solo sean efectivos, sino también sostenibles a largo plazo.
                        En NutriFit, creemos en un enfoque holístico del bienestar. No se trata solo de seguir una dieta o rutina de ejercicios, sino de adoptar un estilo de vida saludable que te permita sentirte bien por dentro y por fuera. Ya sea que estés buscando perder peso, ganar músculo, mejorar tu rendimiento atlético o simplemente llevar una vida más saludable, estamos aquí para guiarte en cada paso del camino.
                        Únete a nuestra comunidad y descubre cómo NutriFit puede ayudarte a transformar tu salud y bienestar con soluciones personalizadas que realmente funcionan.</p>
                    <p><i class="fa fa-check text-primary me-3" href="entrenamiento.html"></i>Musculación</p>
                    <p><i class="fa fa-check text-primary me-3" href="dieta.html"></i>Dietas</p>
                    <p><i class="fa fa-check text-primary me-3" href="productolista.html"></i>Visita nuestra tienda</p>
                </div>
            </div>
        </div>
    </div>

</div>
