<section id="dieta" class="container-xxl py-5" th:fragment="dietas">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Dietas</h1>
                    <p>No se trata de ser el mejor, se trata de ser mejor que ayer. Cada esfuerzo cuenta, cada repetición suma.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5 flex-nowrap">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#aumentodemasamuscular">Aumento de masa muscular</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#perdidadepeso">Pérdida de peso</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#aumentodepeso">Aumento de peso</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#dietadeportiva">Dieta deportiva</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="aumentodemasamuscular">
                <div class="row g-5">
                    <div class="col-lg-4" th:each="dieta : ${dietas}" th:if="${dieta.categoria == 'aumentodemasamuscular'}">
                        <div class="card">
                            <img src="img/cardio.jpg" class="card-img-top img-fluid max-height-225" alt="Entrenamiento de Cardio">
                            <div class="card-body">
                                <h5 th:text="${dieta.nombre}" class="card-title"></h5>
                                <p th:text="${dieta.objetivos}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="perdidadepeso">
                <div class="row g-5">
                    <div class="col-lg-4" th:each="dieta : ${dietas}" th:if="${dieta.categoria == 'perdidadepeso'}">
                        <div class="card">
                            <img src="img/cardio.jpg" class="card-img-top img-fluid max-height-225" alt="Entrenamiento de Cardio">
                            <div class="card-body">
                                <h5 th:text="${dieta.nombre}" class="card-title"></h5>
                                <p th:text="${dieta.objetivos}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="aumentodepeso">
                <div class="row g-5">
                    <div class="col-lg-4" th:each="dieta : ${dietas}" th:if="${dieta.categoria == 'aumentodepeso'}">
                        <div class="card">
                            <img src="img/cardio.jpg" class="card-img-top img-fluid max-height-225" alt="Entrenamiento de Cardio">
                            <div class="card-body">
                                <h5 th:text="${dieta.nombre}" class="card-title"></h5>
                                <p th:text="${dieta.objetivos}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="dietadeportiva">
                <div class="row g-5">
                    <div class="col-lg-4" th:each="dieta : ${dietas}" th:if="${dieta.categoria == 'dietadeportiva'}">
                        <div class="card">
                            <img src="img/cardio.jpg" class="card-img-top img-fluid max-height-225" alt="Entrenamiento de Cardio">
                            <div class="card-body">
                                <h5 th:text="${dieta.nombre}" class="card-title"></h5>
                                <p th:text="${dieta.objetivos}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
