<div class="container-fluid bg-light bg-icon py-6" th:fragment="feature">
    <div class="container-fluid p-0">
        <div class="position-relative">
            <!-- Background GIF -->
            <div class="hero bg-image" th:style="'background-image: url(' + @{/img/nutrifit.gif} + ');'">
                <div class="overlay"></div>
                <div class="container text-center text-light d-flex flex-column justify-content-center align-items-center text-white content">
                    <!-- Hero Text -->
                    <h1 class="display-3 mb-4 text-white-custom">Bienvenido a NutriFit</h1>
                    <p class="lead mb-4">Transforma tu vida con nuestras dietas y programas de nutrición personalizados</p>
                    <!-- CTA Button -->
                    <a href="#explore" class="btn btn-light btn-lg py-3 px-5">Descubre más</a>
                </div>
            </div>
        </div>
    </div>
</div>