<!-- Footer Start -->
<div class="container-fluid bg-dark footer pt-5 wow fadeIn" data-wow-delay="0.1s" th:fragment="footer">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h1 class="fw-bold text-primary mb-4">N<span class="text-secondary">utri</span>Fit</h1>
                <p> Nutrifit es una herramienta completa que combina nutrición y ejercicio para ayudarte a lograr tus objetivos de salud y bienestar de forma personalizada y efectiva.
                </p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Dirección</h4>
                <p><i class="fa fa-map-marker-alt me-3"></i> 23 Calle Larios, Malaga, España</p>
                <p><i class="fa fa-phone-alt me-3"></i>+34 695 30 58 24 </p>
                <p><i class="fa fa-envelope me-3"></i>info@nutrifit.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Links</h4>
                <a class="btn btn-link" href="">Sobre nosotros</a>
                <a class="btn btn-link" href="">Contactanos</a>
                <a class="btn btn-link" href="">Nuestros servicios</a>
                <a class="btn btn-link" href="">Terminos y condiciones</a>
                <a class="btn btn-link" href="">Ayuda</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Contacto</h4>
                <p>Desarrolladores responsables de NutriFit</p>
                <div class="d-flex flex-column gap-2" style="max-width: 400px;">
                    <a href="https://www.linkedin.com/in/juan-maría-avecilla/" target="_blank" class="btn btn-primary py-2">Juan María</a>
                    <a href="https://www.linkedin.com/in/francisco-josé-conejo-barranco/" target="_blank" class="btn btn-primary py-2">Francisco José</a>
                    <a href="https://www.linkedin.com/in/manuel-fernández-pernía/" target="_blank" class="btn btn-primary py-2">Manuel</a>
                </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Nutrifit.com</a>, Todos los derechos reservados.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->