<section id="product" class="container-xxl py-5" th:fragment="productos">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Nuestros productos</h1>
                    <p>No se trata de ser el mejor, se trata de ser mejor que ayer. Cada esfuerzo cuenta, cada repetición suma.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#proteina">Proteína</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#creatina">Creatina</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#snacks">Snacks</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#vitaminas">Vitaminas</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="proteina">
                <div class="row g-5">
                    <!-- Iterar sobre los productos de la categoría 'proteina' -->
                    <div class="col-lg-4" th:each="producto : ${productos}" th:if="${producto.categoria == 'proteina'}">
                        <div class="card">
                            <img th:src="@{img/cardio.jpg}" class="card-img-top img-fluid max-height-225" alt="Vitaminas">
                            <div class="card-body">
                                <h5 th:text="${producto.nombre}" class="card-title"></h5>
                                <p th:text="${producto.descripcion}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="creatina">
                <div class="row g-5">
                    <!-- Iterar sobre los productos de la categoría 'creatina' -->
                    <div class="col-lg-4" th:each="producto : ${productos}" th:if="${producto.categoria == 'creatina'}">
                        <div class="card">
                            <img th:src="@{img/cardio.jpg}" class="card-img-top img-fluid max-height-225" alt="Vitaminas">
                            <div class="card-body">
                                <h5 th:text="${producto.nombre}" class="card-title"></h5>
                                <p th:text="${producto.descripcion}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="snacks">
                <div class="row g-5">
                    <!-- Iterar sobre los productos de la categoría 'snacks' -->
                    <div class="col-lg-4" th:each="producto : ${productos}" th:if="${producto.categoria == 'snacks'}">
                        <div class="card">
                            <img th:src="@{img/cardio.jpg}" class="card-img-top img-fluid max-height-225" alt="Vitaminas">
                            <div class="card-body">
                                <h5 th:text="${producto.nombre}" class="card-title"></h5>
                                <p th:text="${producto.descripcion}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vitaminas">
                <div class="row g-5">
                    <!-- Iterar sobre los productos de la categoría 'vitaminas' -->
                    <div class="col-lg-4" th:each="producto : ${productos}" th:if="${producto.categoria == 'vitaminas'}">
                        <div class="card">
                            <img th:src="@{img/cardio.jpg}" class="card-img-top img-fluid max-height-225" alt="Vitaminas">
                            <div class="card-body">
                                <h5 th:text="${producto.nombre}" class="card-title"></h5>
                                <p th:text="${producto.descripcion}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
