<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Entrenadores</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">


        <section id="entrenadores" class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                            <h1 class="display-5 mb-3">Entrenadores</h1>
                            <p>Encuentra al entrenador ideal para ayudarte a alcanzar tus objetivos.</p>
                        </div>
                    </div>

                    <!-- Opciones de filtrado o botones adicionales para roles específicos -->
                    <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                            <li class="nav-item me-2">
                                <a class="btn btn-primary" th:href="@{/entrenadores/list}" th:text="'Lista completa'"></a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-success" th:href="@{/entrenadores/nuevo}" th:text="'Nuevo entrenador'"
                                   th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_EMPLEADO'')')}"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row g-5">
                    <div class="col-lg-4" th:each="usuario : ${usuarios}">
                        <div class="card h-100 wow fadeInUp" data-wow-delay="0.1s">
                            <img src="img/entrenador.jpg" class="card-img-top img-fluid max-height-225" alt="Entrenador">
                            <div class="card-body text-center">
                                <h5 th:text="${usuario.detalleUsuario.nombre}" class="card-title"></h5>
                                <p th:text="${usuario.detalleUsuario.email}" class="card-text"></p>
                                <a href="#" class="btn btn-primary rounded-pill">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Paginación -->
                <div th:if="${pagina.totalPages > 0}" class="pagination-container mt-4">
                    <ul class="pagination justify-content-center">
                        <li th:if="${pagina.hasPrevious()}" class="page-item">
                            <a th:href="@{/entrenadores(size=${pagina.size}, page=${pagina.number - 1})}" class="page-link" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="pageNumber : ${pageNumbers}" class="page-item" th:classappend="${pageNumber - 1 == pagina.number} ? 'active' : ''">
                            <a th:href="@{/entrenadores(size=${pagina.size}, page=${pageNumber - 1})}" th:text="${pageNumber}" class="page-link"></a>
                        </li>
                        <li th:if="${pagina.hasNext()}" class="page-item">
                            <a th:href="@{/entrenadores(size=${pagina.size}, page=${pagina.number + 1})}" class="page-link" aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
</div>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
