<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
</head>
<body>
<div>
    <div layout:fragment="content">
        <div th:replace="fragments/feature :: feature">...</div>
        <div th:replace="fragments/testimonios :: testimonios">...</div>
        <div th:replace="fragments/opiniones :: opiniones">...</div>
    </div>
</div>
</body>
</html>
